@model IEnumerable<WorkWithKOTE.Models.DopUslug>
           @{ Layout = null; }
@foreach(var iteam in Model)
{
   <div>
       @iteam.Name
       @Html.CheckBox(iteam.Name, new {price = iteam.Price })
   </div>            
}
<script type="text/javascript">
    $(function () {
        var sumFunction = function () {
            var sum = @ViewBag.Prices ;
            $('#options input[type=checkbox]:checked').each(function (i, v) {
                sum += parseInt($(v).attr('price'));
            });
            $('#TourPrice').text(sum);
        };
        $('#options input[type=checkbox]').click(sumFunction);
    })
</script>