@{
    ViewBag.Title = "DateCreate";
}
@model WorkWithKOTE.Models.DateTour
<h2>DateCreate</h2>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(m=>m.Date)
    <br/>
    <input type="submit" value="Создать дату " />
}