@{
    ViewBag.Title = "TourCreate";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<h2>TourCreate</h2>
<script type="text/javascript">
        function valid()
        {
            if (document.getElementById('Predop').checked) {
                document.getElementById('PrePay').style.visibility = 'visible';
            }
            else {
                document.getElementById('PrePay').style.visibility = 'hidden'
            }
        }
</script>
<div>
    @using (Html.BeginForm())
    {

        @:Название  <input type="text" name="NameTour" /> <br />
        @:Заголово  <input type="text" name="TitleTour" /> <br />
        @:Описание:
    <textarea id="fio" rows="2" name="DiscriptionTour" cols="20"></textarea><br/>
    <script>
        CKEDITOR.replace("DiscriptionTour", {
        filebrowserBrowseUrl: '/Scripts/Filemanager-master/index.html'
    });
    </script>
        @: стоимость
        <input type="text" name="Cost" /><br />
        <input type="radio" name="Valuta" value="гривна" checked style="height:15px; width:15px" />@:Гривна<br />
        <input type="radio" name="Valuta" value="доллар" style="height:15px; width:15px " />@:Dollar<br />
        <input type="radio" name="Valuta" value="евро" style="height:15px; width:15px " />@:Euro<br />
        @:Предоплата :<input type="checkbox" id="Predop" onclick="valid()" />
        <input type="text" name="PrePay" style="visibility:hidden" id="PrePay" /><br />
        <input type="submit" value="Создать Тур" />
    }
</div>