@{
    ViewBag.Title = "Home Page";
}
@model  IEnumerable<WorkWithKOTE.Models.Tour>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h6> Тут мы можем увидеть все наши туры</h6> 
        </div>
    </section>
}
<table>
    <tr>
        <td>Название тура</td>
         <td>Дата отправки</td>
         <td>Дата приезда</td>
    </tr>
   
        @foreach (var item in Model)
        {
            <tr>
                <td>   @Html.Label(item.NameTour)</td>
               @{ Html.RenderAction("DateForCurrentTour", new { id = item.TourId });};
                <td> @Html.ActionLink("Посмотреть детали тура", "Index", "TourDisplay", new { id = item.TourId },null)</td>
            </tr>
        }
</table>