@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h6> Тут мы можем увидеть все наши туры</h6>
        </div>
    </section>
}
<div>
    @{Html.RenderAction("TourForHight");}
    <hr>
    @{Html.RenderAction("Center");}
    <hr>
    @{Html.RenderAction("TourForDown");}
    <hr>
</div>
